/* Common settings */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px for everything*/
  font-family: "Roboto", sans-serif;
}

.regular {
  font-family: "Roboto", sans-serif;
}

.bold {
  font-family: "Roboto", sans-serif;
  font-size: 700;
}

.light {
  font-family: "Roboto", sans-serif;
  font-size: 300;
}

.no-gutter > [class*="col-"] {
  padding: 0;
}

$icons: #727272;


/* styling */

#navigation {
  padding: 0.8rem;
  background-color: #dc4c3f;
  color: white;
  font-size: 2.5rem;
}

.projects-title,
.tasks-title {
  display: flex;
  width: 100%;
  font-weight: 700;
  align-items: center;
}

.left-panel {
  padding: 1.2rem;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: darken($color: #fafafa, $amount: 2%);
  .project-manager,
  .task-manager {
    max-height: 50%;
  }
  .projects-head,
  .tasks-head {
    font-size: 1.8rem;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

    i {
      color: $icons;
      font-size: 1.6rem;
    }

    i:hover {
      color: darken($color: $icons, $amount: 15%);
    }
  }
  #projects-container,
  #tasks-container {
    height: auto;
    overflow-y: auto;
    p {
      font-size: 1.6rem;
    }
  }
}

.tasks {
  height: 100%;
  padding: 2rem !important;
  .big-titles {
    font-size: 2.25rem;
    font-weight: bold;
  }

  #pending,
  #completed {
      font-size: 1.6rem;
  }

  .todo-display {
    height: 95%;
    #pending,
    #completed {
        max-height: 43%;
        overflow-y: auto;
    }
  }

  .todo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid lighten($color: $icons, $amount: 45%);
    .todo-priority {
        width: 10%;
        font-size: 2rem;
    }
    .info-wrapper {
        width: 75%;
        display: flex;
        flex-direction: row;
        & > * {
            text-align: left;
        }

        .todo-title {
            width: 25%;
        }
        .todo-description {
            width: 75%;
        }

    }
    .todo-due-date{
        width: 15%;
        margin-left: auto;
    }
  }
}

.modal > * {
  font-size: 16px;

  .modal-title {
    font-size: 18px;
    font-weight: 700;
  }

  input, select {
    font-size: 16px;
  }

  .btn {
    font-size: 16px;
  }
}